/* Custom Fonts */
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

.App {
  text-align: center;
  font-family: Centra, sans-serif;
}

/* === NavBar Styles === */

.navbar-logo {
  max-width: 50px;
  height: auto;
  margin-right: 20px;
  filter: invert(1) grayscale(1) contrast(100%) brightness(100%);
}

#github-logo {
  max-width: 44px;
  height: auto;
}
